{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<div class="card-group">
    <div class="card">
      <img src="static\img-06.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">עוגת ביסקוויטים</h5>
        <p class="card-text">עוגת ביסקוויטים מהירה להכנה.</p>
        <p class="card-text"><small class="text-muted">זמן הכנה - 20 דקות</small></p>
        <div id="liveAlertPlaceholder"></div>
     
        <button type="button" class="btn btn-warning">הוספה למועדפים</button>
        <a href="/" class="btn btn-primary">מתכון</a>
      </div>
    </div>
    <div class="card">
      <img src="static\img-07.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">עוגת קשת בענן</h5>
        <p class="card-text">עוגה טעימה במיוחד .</p>
        <p class="card-text"><small class="text-muted">זמן הכנה - 30 דקות</small></p>
        <button type="button" class="btn btn-info">מתכון</button>
        <button type="button" class="btn btn-warning">הוספה למועדפים</button>
      </div>
    </div>
    <div class="card">
      <img src="static\img-10.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">עוגת וניל</h5>
        <p class="card-text">בלה בלה בלה בלה.</p>
        <p class="card-text"><small class="text-muted">זמן הכנה- 10 דקותי</small></p>
        <button type="button" class="btn btn-info">מתכון</button>
        <button type="button" class="btn btn-warning">הוספה למועדפים</button>
      </div>
    </div>


  </div>
  <div class="card-group">
    <div class="card">
      <img src="static\img-03.jpg" class="card-img-top" alt="static\img-03.jpg">
      <div class="card-body">
        <h5 class="card-title">עוגת לוטוס</h5>
        <p class="card-text">עוגה לא טעימה</p>
        <p class="card-text"><small class="text-muted">זמן הכנה 5 דקות</small></p>
        <button type="button" class="btn btn-info">מתכון</button>
        <button type="button" class="btn btn-warning">הוספה למועדפים</button>
      </div>
    </div>
    <div class="card">
      <img src="static\img-04.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">עוגת גבינה אפויה</h5>
        <p class="card-text">בלה בלה בלה עוגה נהדרת.</p>
        <p class="card-text"><small class="text-muted">זמן הכנה 60 דקות</small></p>
        <button type="button" class="btn btn-info">מתכון</button>
        <button type="button" class="btn btn-warning">הוספה למועדפים</button>
      </div>
    </div>
    <div class="card">
      <img src="static\img-05.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">עוגת שוקולד עשירה</h5>
        <p class="card-text">קשה להכנה אבל שווה את זה.</p>
        <p class="card-text"><small class="text-muted">זמן הכנה- 15 דקות</small></p>
        <button type="button" class="btn btn-info">מתכון</button>
        <button type="button" class="btn btn-warning">הוספה למועדפים</button>
      </div>
    </div>


  </div>  
  <div class="card-group">
    <div class="card">
      <img src="static\img-11.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">עוגת שוקוליתe</h5>
        <p class="card-text">עוגה פשוטה לילדים</p>
        <p class="card-text"><small class="text-muted">זמן הכנה 5 דקות</small></p>
        <button type="button" class="btn btn-info">מתכון</button>
        <button type="button" class="btn btn-warning">הוספה למועדפים</button>
      </div>
    </div>
    <div class="card">
      <img src="static\img-12.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">עוגה טבעונית</h5>
        <p class="card-text">אין לי מושג אך להכין- עוגה ללב</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-info">מתכון</button>
        <button type="button" class="btn btn-warning">הוספה למועדפים</button>
      </div>
    </div>
    <div class="card">
      <img src="static\img-13.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">עוגה כשרה לפסח</h5>
        <p class="card-text">בטח מגעילה רצח</p>
        <p class="card-text"><small class="text-muted">זמן הכנה- 40 שנה</small></p>
        <button type="button" class="btn btn-info">מתכון</button>
        <button type="button" class="btn btn-warning">הוספה למועדפים</button>
      </div>
    </div>

  </div>
  {% endblock %}